/* Write your CSS here */
.vaccination-coverage-container {
  background-color: #1c1c2b;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}

.vaccination-coverage-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
